{% render 'partials/header.liquid', title: 'Digital Garden' %}

<h1>Digital Garden</h1>
<p>Eigenlijk moet je daarvoor vooral naar <a href="https://krijnhoetmer.nl/stuff/">krijnhoetmer.nl/stuff/</a> gaan.</p>

{% render 'partials/nav.liquid' %}