{% render 'partials/header.liquid', title: 'Home' %}

<h1>I &lt;3 Web</h1>
<p>Welkom op mijn site!</p>
<img src="assets/krijn.jpg" width="120" height="120" alt="Ik, ietwat lachend, met nog wat haar, in zwart/wit">

{% render 'partials/nav.liquid' %}