body {
  font-family: sans-serif;
}

nav {
  display: flex;
  gap: .5em;
  a {
    text-decoration: none;
  }
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  a {
    min-height: 100px;
    border: 1px solid;
  }
}